[run]
source = game,boo_game
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */manage.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if settings.DEBUG
    if __name__ == .__main__.:

[html]
directory = htmlcov 